<app-sidebar></app-sidebar>


<!-- <div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
      <br> 
      <div class="row">
        <div class="col-md-2">
          <button type="submit" class="btn btn-info" style="background-color: #548fcc;">All Jobs</button>
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-info" style="background-color: #548fcc;">Hiring For</button>
        </div> -->
        <!-- <div class="col-md-2">
          <button type="submit" class="btn btn-info" style="background-color: #548fcc;">Job Owner</button>
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-info" style="background-color: #548fcc;">Custom Field</button>
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-info" style="background-color: #548fcc;">Active All Closed</button>
        </div> -->
        <!-- <div class="col-md-3">
          <a href="/job-info"> <button type="submit" class="btn btn-info" style="color: #548fcc;
          background-color: #c3dcf5;
          border-color: #c3dcf5;
          font-weight: 600;" >+Add New Job</button></a>
        </div>
      </div> -->
      <br>

     
<!-- <div *ngFor="let l of userData2; let i = index">
    <div id="card1" >
      
      <a href="/jobdesc" target="_blank" (click)="onclick(i)" style="text-decoration: none;"><h5 style="color: #548fcc; font-weight: 700;"><b>{{l.JobPostion_Name}} - {{l.JobInfo_Skills}} &nbsp;<mark>{{l.job_category}}</mark></b></h5></a>
        <p style="color: #64a8f0;"><b>#{{l.JobInfo_Id}}&nbsp;&nbsp;{{l.JobInfo_Num_Of_Openings}}&nbsp;Openings</b></p>
      <br><table>
        <tr>
          <th>Total Openings<br> <br> <h5 style="color:#64a8f0; font-weight: 700;">{{l.JobInfo_Num_Of_Openings}}</h5></th>
          <th>Skills<br><br> <h5 style="color:#64a8f0; font-weight: 700;">{{l.JobInfo_Skills}} </h5></th>
          <th>Minimum Experience<br> <br> <h5 style="color:#64a8f0; font-weight: 700;">{{l.JobInfo_Min_Exp}}</h5></th>
          <th>Job Category<br> <br> <h5 style="color:#64a8f0; font-weight: 700;">{{l.job_category}}</h5></th>
          <th>Hiring Type<br> <br> <h5 style="color:#64a8f0; font-weight: 700;">{{l.JobInfo_HiringType}}</h5></th>
        </tr>
      </table>
      <br>
      </div>
      <br> 
</div> -->
<div class="h-dwn">
  <div class="h-dwn-con">
    <div class="d-flex flex-row-reverse">
      <div class="p-1">
        <div class="has-search">
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="search-radius" placeholder="Search Job Cards">
        </div>
      </div>
      <div class="p-1">
        <div class="actions">
          <button type="button" class="btn act-btn" style="color:green;">Active</button>
          <button type="button" class="btn act-btn act-on">All</button>
          <button type="button" class="btn act-btn mr-0" style="color:red;">Closed</button>
        </div>
      </div>
      <div class="p-1">
        <button type="submit" class="btn add-job">+ NEW JOB</button>
      </div>
    </div>
  </div>
</div>
<div class="h-dwnw">
  <div class="leftdiv">
    <input type="checkbox" id="checkAll">&nbsp;&nbsp;Select All
  </div>
  <div class="h-dwn-conw">
    <!--  START -->
    <div class="d-flex flex-row-reverse">
      <div class="p-1">
        <div class="col-md-1"><a href="/candidateslist"><i class="fa fa-align-justify" style="color: #548fcc;font-size: 40px;"></i></a></div>
      </div>
      <div class="p-1">
        <div class="col-md-2">
          <div ngbDropdown class="d-inline-block drpbn">
            <button class="btn btn-info shnav drpdwn" id="dropdownBasic2" style="background-color: #548fcc;" ngbDropdownToggle>Hiring For &nbsp;</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
              <a class="dwns" href="/videoprofile"> <button ngbDropdownItem class="dwnitm" >UI/UX</button></a>
              <a class="dwns" href="/screening"> <button ngbDropdownItem class="dwnitm">Testing</button></a>
            </div>
          </div>
        </div> 
      </div>
      <div class="p-1">
        <div class="col-md-2">
          <div ngbDropdown class="d-inline-block drpbn">
            <button class="btn btn-info shnav drpdwn" id="dropdownBasic1" style="background-color: #548fcc;" ngbDropdownToggle>Department&nbsp;</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a class="dwns" href="/videoprofile"> <button ngbDropdownItem class="dwnitm" >UI/UX</button></a>
              <a class="dwns" href="/screening"> <button ngbDropdownItem class="dwnitm">Testing</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>    
    <!--   END -->
  </div>
</div>

<!-- New Screen START -->

<div class="bdy-con">
  <div class="container">
    <div class="scroll-div">
      <ng-container *ngFor="let l of userData2; let i = index">
      <div style="float: left; width:100%;">
        <h4 class="cand-code">Job Code - {{l.JobInfo_Id}}</h4>
      </div>
      <div class="can-bdy">
        <div class="" style="float: left; width: 35%;color:#fff;">
          <input type="checkbox" checked=true/><span style="margin-left:20px;">{{l.JobPostion_Name}} - {{l.JobInfo_Skills}}</span>        
        </div>
        <div class="" style="float: right; width: 55%; margin-right: 5%;">
          <ul class="top-icons">
            <li><a href="#"><i class="fas fa-star"></i></a></li>
            <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
            <li><a href="#"><i class="fas fa-share"></i></a></li>
        </ul>
        </div>
        <!-- Body Section Starts Here -->
        <div class="bdy-sec">
          <div style="float: left; width: 85%;">
          <div class="d-flex justify-content-center">
            <div class="m-5 p-2 text-center box-wcon">
              <div style="margin-bottom: 10px; display: inline-flex;"><img src="/assets/img/pool icon.png" width="22" height="22" /></div>
              <div class="w-box">{{0}}
              <span style="font-size: 13px; display: block;">Pool</span>
              </div>
              <div><a ><i style="float:left; font-size: 13px; color: #fff;" class="fas fa-long-arrow-alt-down" (click)="l.isCollapsed = !l.isCollapsed" [attr.aria-expanded]="false" aria-controls="collapseExample"></i></a></div>
            </div>
            <div class="m-5 p-2 text-center box-wcon">
              <div style="margin-bottom: 10px; display: inline-flex;"><img src="/assets/img/shortlist icon.png" width="22" height="22" /></div>
              <div class="w-box">{{0}}
                <span style="font-size: 13px; display: block;">Shortlist</span>
                </div>
            </div>
            <div class="m-5 p-2 text-center box-wcon">
              <div style="margin-bottom: 10px; display: inline-flex;"><img src="/assets/img/hired icon.png" width="22" height="22" /></div>
              <div class="w-box">{{0}}
                <span style="font-size: 13px; display: block;">Hired</span>
                </div>
            </div>
            <div class="m-5 p-2 text-center box-wcon">
              <div style="margin-bottom: 10px; display: inline-flex;"><img src="/assets/img/rejected icon.png" width="22" height="22" /></div>
              <div class="w-box">{{1}}
                <span style="font-size: 13px; display: block;">Rejected</span>
                </div>
            </div>
          </div>
        </div>
        <div class="" style="float: left; width:13%; text-align: center; padding-top: 35px;">
          <div class="text-center circle">             
            <div class="circle-border">
            <span class="circle-num">{{l.JobInfo_Num_Of_Openings}}</span>
            <span style="font-size: 13px; display: block;">Positions</span>
            </div>
          </div>
          <div class="" style="float:left; font-size: 13px; color: #fff; margin-top:15px;">Remote | Hyderabad</div>
        </div>
        </div>
        <!-- Body Section Ends Here -->
          
        <!--Right Side Box Icons Starts Here -->
              <div class="box-rgt-cons">
                <ul class="boxrgt-icons">
                  <li><a href="#"><img src="/assets/img/grid_box_icon.png" alt="gird" /></a></li>
                  <li><a href="#"><i class="fas fa-trash-alt"></i></a></li>
                  <li><a href="#"><i class="fas fa-pencil-alt"></i></a></li>
                  <li><a href="#"><img src="/assets/img/human_blue_icon.png" width="16" height="16" alt="gird" /></a></li>
                </ul>
              </div>
        <!-- Right Side Box Icons Ends Here -->
      </div>
      <div class ="last_div_bdy" id="collapseExample" [ngbCollapse]="!l.isCollapsed">
        <div class="leftbox" >
          <span style="margin-left:10px;"></span>
          <span>
            <select id="add_newtag" name="add_newtag">
              <option value="0">+ Add new tags</option>
            </select>
          </span>
        </div>
        <div class="midbox" >
          <span>Edit team members</span>
        </div>
        <div class="rightbox" >
          <span>Posted 2 days ago</span>
        </div>
      </div>
  </ng-container>
  </div>
  </div>
  </div>
<!-- New Screen END -->

<!-- <div class="bdy-con">
  <div class="container">
    <div class="scroll-div">
      <ng-container *ngFor="let l of userData2; let i = index">
        <table class="table mb-0">
          <tbody>
            <tr>
              <td width="25%" class="blue-bg text-white no-tbd">Job Code - {{l.JobInfo_Id}}</td>
              <td class="no-tbd"></td>
              <td class="no-tbd"></td>
            </tr>
          </tbody>
        </table>
        <table class="table blue-bg">
          
            <tr>
              <td class="blue-bg text-white no-tbd" width="45%">
                <input type="checkbox" checked=true/><span style="margin-left:20px;">{{l.JobPostion_Name}} - {{l.JobInfo_Skills}}</span>
              </td>
              <td class="blue-bg text-white no-tbd" width="50%">
                <img src="/assets/img/forward icon.png" width="13" height="13" alt="" style="margin-left:350px">
                <img src="/assets/img/share icon.png" width="13" height="13" alt="" style="margin-left:10px">
                <img src="/assets/img/star icon.png" width="13" height="13" alt="" style="margin-left:10px">
              </td>
              <td class="no-tbd" width="5%" style="background-color:#fff;">  -->
                <!--Right Side Box Icons Starts Here -->
                <!-- <div class="box-rgt-cons">
                  <ul class="boxrgt-icons">
                    <li><a href="#"><img src="/assets/img/grid_box_icon.png" alt="gird" /></a></li>
                    <li><a href="#"><img src="/assets/img/thumbs_down.png" alt="gird" /></a></li>
                    <li><a href="#"><img src="/assets/img/grid_box_icon.png" alt="gird" /></a></li>
                    <li><a href="#"><img src="/assets/img/grid_box_icon.png" alt="gird" /></a></li>
                    <li><a href="#"><img src="/assets/img/message blue icon.png" alt="gird" /></a></li>
                  </ul>
                </div> -->
                <!-- Right Side Box Icons Ends Here -->
              <!-- </td>
            </tr>
          
       </table>
       <table class="table blue-bg">
    
          <tr>
            <td class="blue-bg text-white no-tbd">
              <div><img src="/assets/img/pool icon.png" width="22" height="22" alt=""></div>
              <div class="square">
                <span>{{0}}</span>
                <div>Pool</div>
              </div>
            </td>
            <td class="blue-bg text-white no-tbd">
              <div><img src="/assets/img/shortlist icon.png" width="22" height="22" alt="" ></div>
              <div class="square">
                <span>{{0}}</span>
                <div>Shortlist</div>
              </div>
            </td>
            <td class="blue-bg text-white no-tbd">
              <div> <img src="/assets/img/hired icon.png" width="22" height="22" alt="" ></div>
              <div class="square">
              <span>{{0}}</span>
              <div>Hired</div>
              </div>
            </td>
            <td class="blue-bg text-white no-tbd">
              <div><img src="/assets/img/rejected icon.png" width="22" height="22" alt="" ></div>
              <div class="square">
                <span>{{0}}</span>
                <div>Rejected</div>
              </div>
            </td>
            <td class="no-tbd"> 
              <div class="shape">
                <span>{{l.JobInfo_Num_Of_Openings}}</span>
                <div>Positions</div>
              </div>
            </td>
          </tr>
     </table>
      </ng-container>
    </div>
  </div>
</div> -->



<!-- <div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
      <div class="col-md-9" style="background: #fff; padding: 10px;  color: #38424c; height: 350px;  ">
        <div *ngFor="let l of userData2; let i = index">
          <div class="col-md-6" style=" background-color: rgb(84 143 204); color: #fff; border: #548fcc;">
            <div><span >Jobe Code:{{l.JobInfo_Id}}</span></div>
          </div>

          <div class="card"  style=" background-color: rgb(84 143 204); width: 170%; color: #fff; border: #548fcc;">
               <div class="card-body">
                 <div>
                    <input type="checkbox" checked=true/><span style="margin-left:20px;">{{l.JobPostion_Name}} - {{l.JobInfo_Skills}}</span>       
                    <img src="/assets/img/forward icon.png" width="13" height="13" alt="" style="margin-left:350px">
                    <img src="/assets/img/share icon.png" width="13" height="13" alt="" style="margin-left:10px">
                    <img src="/assets/img/star icon.png" width="13" height="13" alt="" style="margin-left:10px">
                 </div>
                 <br>
                  <div>
                    <table>
                      <tr>
                        <td >
                          <div><img src="/assets/img/pool icon.png" width="22" height="22" alt="" ></div>
                          <div class="square">
                            <span>{{0}}</span>
                            <div>Pool</div>
                          </div>
                        </td>

                        <td >
                          <div><img src="/assets/img/shortlist icon.png" width="22" height="22" alt="" ></div>
                          <div class="square">
                            <span>{{0}}</span>
                            <div>Shortlist</div>
                          </div>
                        </td>

                        <td >
                          <div> <img src="/assets/img/hired icon.png" width="22" height="22" alt="" ></div>
                           <div class="square">
                            <span>{{0}}</span>
                            <div>Hired</div>
                            </div>
                        </td>

                        <td >
                          <div><img src="/assets/img/rejected icon.png" width="22" height="22" alt="" ></div>
                          <div class="square">
                            <span>{{0}}</span>
                            <div>Rejected</div>
                          </div>
                        </td>

                        <td >
                          <div class="shape">
                            <span>{{l.JobInfo_Num_Of_Openings}}</span>
                            <div>Positions</div>
                          </div>
                        </td>

                      </tr>
                    </table>
                  </div>
                  <div>
                  </div>
                    <div class="row" id="status">
                      <div class="col-md-9">
                         <img src="/assets/img/down arrow icon.png" width="15" height="15" alt="" style="margin-left:10px" (click)="l.isCollapsed = !l.isCollapsed" [attr.aria-expanded]="false" aria-controls="collapseExample">               
                      </div>
                      <div class="col-md-3">
                        Remote | Hyderabad
                      </div>
                    </div> 
                    <div id="collapseExample" [ngbCollapse]="!l.isCollapsed" >
                      <div class="row">
                        <div class="col-md-9">
                       
                            <img src="/assets/img/down arrow icon.png" width="15" height="15" alt="" (click)="l.isCollapsed = !l.isCollapsed" [attr.aria-expanded]="false" aria-controls="collapseExample">               

                            <select name="tags"  placeholder="+Add new tags" >
                               <option value="0">+Add new tags</option>
                            </select>
                       
                            <img src="/assets/img/rejected icon.png" width="22" height="22" alt="" >+ Edit Team members
                        </div>
                      </div> 
                    </div>  
               </div>
            </div> -->
            <!-- <div class="card"  style=" background-color: rgb(84 143 204); width: 158%; color: #fff; border: #548fcc;">
              <img src="/assets/img/grid box icon.png" width="15" height="15" alt="" >
              <img src="/assets/img/message icon.png" width="15" height="15" alt="" >
            </div> -->
             <!-- <br>
          </div>
      </div>
      </div>
      </div>
</div> -->



