
/* .ng-sidebar-container{
    height: 100vh;
    } */
    
    ::ng-deep  .ng-sidebar{
        background: #548fcc;
           width : 330px;
        padding : 0px;
        height: 100%;
        position: fixed !important;
        float: right;
        /* box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5); */
    }
    .menu {
        margin-top: 2em;
        display : block;
    }
    .menu li{
        margin-bottom: 15px;
    }
    
    .menu li a{
        display: block;
        width: 100%;
        color: #fff;
        font-weight: 500;
        font-size: 18px;
    }
    .icn{
        font-size: 25px;
        color: #f0f8ffa8;
    }

    form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
        border-radius: 30px;
      }
      
      form.example button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
        border-radius: 30px;
        margin-left: -61px;
      }
      
      form.example button:hover {
        background: #0b7dda;
      }
      
      form.example::after {
        content: "";
        clear: both;
        display: table;
      }
    
      .menu-spacer {
        flex: 1 1 auto;
      }
      .dropdown-menu.show{
        position: absolute;
    top: 0px;
    left: -60px !important;
    will-change: transform;
    transform: translate(0px, 27px);
      }
      

      .action .profile
      {
       position: relative;
       margin-right: -1100px;
       border-radius: 30px;
       width: 60px;
       overflow: visible;
        cursor: pointer;
        float: right;
      }

      .action .menu
      {
        position: relative;
        margin-right: 30px;
        background: #2196F3;
        width: 200px;
        padding: 0px;
        border-radius: 10px;
        box-sizing: 0 5px 25px rgba(0,0,0.0.1);
        transition: 0.5s;
        float: right;
        margin-top: 55px;
        z-index: 999;
      }

      .action .menu h3
      {
        width: 100%;
        text-align: center;
      }

      .action .menu h6
      {
        font-size: 15px;
      }

      .action .menu::before
      {
        content: '';
        position: absolute;
        right: -1082px;
        width: 20px;
        height: 12px;
        transform: rotate(45deg);
        background: #2196F3;
        float: right;
      }
      .action{
        position: absolute;
      }

      .action img{
        float: right;
        position: relative;
      }

      .float-right
      {
        position: relative;
        width: 10px;
        margin-left: -80px;
        margin-top: 5px;
        cursor: pointer;
      }

    #signout
    {
      background-color: #2196F3;
      border: none;
      color: white;
    }      