<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" /> 
</head>
<body class="body">
  <br> <br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

  
   <!-- <form [formGroup]="profileForm"  (ngSubmit)="onSubmit()"> -->
    <div class="card jobcrd">
    <div class="row hdr">
      <h5>Promote</h5>
    </div>
    <div class="card-body">
      <div class="row" style="background: #a6cff9; padding: 32px;">
          <div class="col-md-6">
            <h5 style="color: #548fcc;">Publish on Career Page</h5>
            <br>
          </div>
          <div class="col-md-6">
            <ui-switch checked></ui-switch>
          </div>
      </div>
      <br> <br>
      <div class="row" style="background: #a6cff9; padding: 32px;">
        <div class="col-md-12">
          <h5 style="color: #548fcc;">Reach More Candidates</h5>
          <br>
        </div>
        <div class="col-md-3" style="padding:20px;">
          <div class="row" style="background: #548fcc; padding: 11px; border-radius: 6px; color: #fff;">
              <h5>LinkedIn</h5>
            </div> 
            <div class="row" style="background: #fff; padding: 2px; border-radius: 5px;">
              <div class="col-md-5">
            <p style="color: #548fcc;">Promote</p>
           </div>
           <div class="col-md-3"><ui-switch checked></ui-switch></div>
             
          </div>
        </div>
        
        <div class="col-md-3" style="padding:20px;" >
          <div class="row" style="background: #548fcc; padding: 11px; border-radius: 6px; color: #fff;">
              <h5>Facebook</h5>
            </div> 
            <div class="row" style="background: #fff; padding: 2px; border-radius: 5px;">
              <div class="col-md-5">
            <p style="color: #548fcc;">Promote</p>
           </div>
           <div class="col-md-3"><ui-switch></ui-switch></div>
             
          </div>
        </div>
        <div class="col-md-3" style="padding:20px;">
          <div class="row" style="background: #548fcc; padding: 11px; border-radius: 6px; color: #fff;">
              <h5>indeed</h5>
            </div> 
            <div class="row" style="background: #fff; padding: 2px; border-radius: 5px;">
              <div class="col-md-5">
            <p style="color: #548fcc;">Promote</p>
           </div>
           <div class="col-md-3"><ui-switch checked></ui-switch></div>
             
          </div>
        </div>
        <div class="col-md-3" style="padding:20px;">
          <div class="row" style="background: #548fcc; padding: 11px; border-radius: 6px; color: #fff;">
              <h5>Naukari</h5>
            </div> 
            <div class="row" style="background: #fff; padding: 2px; border-radius: 5px;">
              <div class="col-md-5">
            <p style="color: #548fcc;">Promote</p>
           </div>
           <div class="col-md-3"><ui-switch></ui-switch></div>
             
          </div>
        </div>
        <div class="col-md-3" style="padding:20px;">
          <div class="row" style="background: #548fcc; padding: 11px; border-radius: 6px; color: #fff;">
              <h5>Upwork</h5>
            </div> 
            <div class="row" style="background: #fff; padding: 2px; border-radius: 5px;">
              <div class="col-md-5">
            <p style="color: #548fcc;">Promote</p>
           </div>
           <div class="col-md-3"><ui-switch checked></ui-switch></div>
             
          </div>
        </div>
        
        
        
  
   
         
      </div>
    
    <br> <br>

    </div>
  </div>
  <br> <br>   
            <div class="row">
              <div class="col-md-4">
                <button type="submit" class="btsave">Save</button>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-3">
                <span class="progress" type="button">    
                  <label class="pro" style="color: white">100%</label>
                   <progress style="width: 105%" value="100" max="100">25%</progress>
                </span>
              </div>
                <div class="col-md-3">
                <button type="submit" class="btsave">Done</button>
                </div>
             
              
            </div>  
   <!-- </form> -->
   </div>
  </div>
  </div>
</body>
</html>
