/* .ng-sidebar-container{
  height: 100vh;
  } */
  
  ::ng-deep  .ng-sidebar{
    background: #548fcc;
       width : 250px;
    padding : 2em 3em;
    height: 100%;
    position: fixed !important;
    /* box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5); */
    outline: none;

}
.menu {
    margin-top: 2em;
    display : block;
    outline: none;
}
.menu li{
    margin-bottom: 15px;
}

.menu li a{
    display: block;
    width: 100%;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}
.icn{
    font-size: 25px;
    color: #f0f8ffa8;
    outline: none;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-radius: 30px;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 30px;
    margin-left: -61px;
  }

  a img  
  {  
    border: none;  
  }  
  
  form.example button:hover {
    background: #0b7dda;
    outline: none;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .menu-spacer {
    flex: 1 1 auto;
  }
  .dropdown-menu.show{
    position: absolute;
top: 0px;
left: -60px !important;
will-change: transform;
transform: translate(0px, 27px);
  }