<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" /> 
</head>
<body class="body">
  <app-sidebar3></app-sidebar3>
  <br> <br>
<div class="container-fluid" style="margin-left: 140px;">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

  
   <!-- <form [formGroup]="profileForm"  (ngSubmit)="onSubmit()"> -->
    <div class="card jobcrd">
    <div class="row hdr">
      <h5>Hiring Stages</h5>
    </div>
    <div class="card-body">
      <div class="row" style="background: #a6cff9; padding: 32px;">
          <div class="col-md-12">
            <h5 style="color: #548fcc;">Application Review</h5>
            <br>
          </div>
          <div class="col-md-5"><button type="submit" class="btn btn-info jbtn">Pool</button></div>
          <div class="col-md-1"><br></div>
          <div class="col-md-6"><button type="submit" class="btn btn-info jbtn">Shortlist</button></div>
      </div>
      <br> <br>
      <div class="row" style="background: #a6cff9; padding: 32px;">
        <div class="col-md-12">
          <h5 style="color: #548fcc;">Smart Screening</h5>
          <br>
        </div>
        <div class="col-md-9"><button type="submit" class="btn btn-info jbtn">Automated Screening</button></div>
        <div class="col-md-3"><ui-switch switchColor="#fcfcfc"></ui-switch></div>
        <!-- <div class="col-md-1"></div> -->
         <br>  <br>  <br>
        <div class="col-md-9"><button type="submit" class="btn btn-info jbtn">SMART Video Profile</button></div>
        <div class="col-md-1"><br></div>
        <div class="col-md-2"></div>  <br> <br>  <br>
        <div class="col-md-9"><button type="submit" class="btn btn-info jbtn">Online Test</button></div>
        <div class="col-md-1"><br></div>
        <div class="col-md-2"></div>  <br> <br>  <br>
        <div class="col-md-9"><button type="submit" class="btn btn-info jbtn">SMART Chat</button></div>
        <div class="col-md-1"><br></div>
        <div class="col-md-2"></div>  <br> <br>

          <div class="col-md-12"></div>
          <div class="col-md-6"></div>
          <div class="col-md-4">
          <button type="submit" class="btn btn-info jbtn">Add Stage</button>
         </div>
      </div>
    
    <br> <br>
      <div class="row" style="background: #a6cff9; padding: 32px;">
        <div class="col-md-12">
          <h5 style="color: #548fcc;">Interview</h5>
          <br>
        </div>
        <div class="col-md-9"><button type="submit" class="btn btn-info jbtn">Telephonic</button></div>
        <div class="col-md-1"><br></div>
        <div class="col-md-2"></div>  <br> <br>  <br>
        <div class="col-md-9"><button type="submit" class="btn btn-info jbtn">Face to Face</button></div>
        <div class="col-md-1"><br></div>
        <div class="col-md-2"></div>  <br> <br>  <br>
        <div class="col-md-12"></div>
          <div class="col-md-6"></div>
          <div class="col-md-4">
          <button type="submit" class="btn btn-info jbtn">Add Stage</button>
         </div>
    </div>

       

    </div>
  </div>
  <br> <br>   
            <div class="row">
              <div class="col-md-4">
                <button type="submit" class="btsave">Save</button>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-3">
                <span class="progress" type="button">    
                  <label class="pro" style="color: white">25%</label>
                   <progress style="width: 105%" value="25" max="100">25%</progress>
                </span>
              </div>
                <div class="col-md-3">
                <a href="/promote"><button type="submit" class="btsave">Next Step</button></a>
                </div>
             
              
            </div>  
   <!-- </form> -->
   </div>
  </div>
  </div>
</body>
</html>
