<html>
  <head>

  </head>
  <body>
  <app-sidebar2></app-sidebar2>


     <div style="background-color: #dfe4ea;">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="container">
      <h3 id="header">Password</h3><br *ngIf="valpass1">

      <div *ngIf="valpass"  class="alert alert-success" role="alert">
        Password Updated Successfully
        <img src="/assets/img/close1.jpg" (click)="tooglepass()" style="width: 13px;height: 13px;float: right; margin-right: 5px;cursor: pointer;">
      </div>

      <label class="label" ><b>Current Password</b></label><br>
      <input type="password" class="textfield" formControlName="password" id="currpass" style="margin-left:15px;" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"><br>
      
      <div id="div" *ngIf="submitted && f.password.errors" class="invalid-feedback" style="margin-left:15px;">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
      </div>
      

      <label class="label"><b>New Password</b></label><br>
      <input type="password" class="textfield" formControlName="password1" id="newpass" style="margin-left:15px;" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"><br>
      
      <div id="div" *ngIf="submitted && f.password1.errors" class="invalid-feedback" style="margin-left:15px;">
        <div *ngIf="f.password1.errors.required">Password is required</div>
        <div *ngIf="f.password1.errors.minlength">Password must be at least 8 characters</div>
        
      </div>

      <div *ngIf="submitted && hasNumber" style="margin-left:15px; color:red;font-size: 12px;" >Must have at least 1 number!</div>
      <div *ngIf="submitted && hasCapitalCase" style="margin-left:15px; color:red;font-size: 12px;" >Must contain at least 1 Letter in Capital Case!</div>
      <div *ngIf="submitted && hasSmallCase" style="margin-left:15px; color:red;font-size: 12px;" > Must contain at least 1 Letter in Small Case!</div>

      <label class="label"><b>Confirm Password</b></label><br>
      <input type="password" class="textfield" formControlName="password2" id="confpass" style="margin-left:15px;" [ngClass]="{ 'is-invalid': submitted && f.password2.errors }"><br>
      
      <div id="div" *ngIf="submitted && f.password2.errors" class="invalid-feedback" style="margin-left:15px;">
        <div *ngIf="f.password2.errors.required">Password is required</div>
        <div *ngIf="f.password2.errors.mustMatch">Password Doesn't Match</div>
      </div><br>


      
      <div class="col-md">
        <button type="submit" class="btn btn-primary rdmb" id="button"><b>Update</b></button>
      </div>
    </div>

    
    
    <br> <br> <br>
  </form>
  </div>

  </body>

</html>
