


<div class="container-fluid">
  <div class="row"></div>
  <div class="col-md-11">
  <p style="font-weight: bolder; font-size: 42px; margin-top: 25px;margin-left: 142px;">{{userData2.JobPostion_Name}}-{{userData2.JobInfo_Skills}}</p>


  
  <br>

    <form action="" >
      <div class="row">
        <div class="columns">


          
      <h4 style="margin-left: 156px; margin-top: 20px; color: #4380BF;"><b>Job Details</b></h4><br> 
      <p style="font-weight: bolder; margin-left:153px; font-size: 20px; margin-top: 10px; color: #4380BF;">Basic Information</p>
      <p style="margin-left: 840px; font-weight: bolder; margin-top: -45px; font-size: 20px; color: #4380BF;">Job Description</p>

      <label style="margin-left: 155px;">Job Position</label> <label style="margin-left:200px;"> {{userData2.JobPostion_Name}}-{{userData2.JobInfo_Skills}}</label><br><br>
      <label style="margin-left: 155px;">Job ID</label> <label style="margin-left:240px;"> {{userData2.JobInfo_Id}}</label><br><br>
      <label style="margin-left: 155px;">No of Openings</label> <label style="margin-left:173px;">{{userData2.JobInfo_Num_Of_Openings}}</label><br><br>
      <label style="margin-left: 155px;">Job Category/Function</label> <label style="margin-left:127px;">{{userData2.job_category}}</label><br><br>
      <label style="margin-left: 155px;">Job Type</label> <label style="margin-left:226px;">{{userData2.JobInfo_JobType}}</label>
      


          <p style="margin-left: 840px; margin-top: -235px;">{{userData2.JobInfo_JobDesc}}</p>


          <label style="margin-left: 155px;">Job Hiring Type</label> <label style="margin-left: 175px;">{{userData2.JobInfo_HiringType}}</label><br><br>
          <label style="margin-left: 155px;">Maximum Experience</label> <label style="margin-left:135px;">{{userData2.JobInfo_Max_Exp}}</label><br><br>
          <label style="margin-left: 155px;">Maximum Salary</label> <label style="margin-left:168px;">{{userData2.JobInfo_Max_Salary}}</label><br><br>
          <label style="margin-left: 155px;">Minimum Experience</label> <label style="margin-left:135px;">{{userData2.JobInfo_Min_Exp}}</label><br><br>
          <label style="margin-left: 155px;">Minimum Salary</label> <label style="margin-left:170px;">{{userData2.JobInfo_Min_Salary}}</label><br><br>
          <label style="margin-left: 155px;">Status</label> <label style="margin-left:238px;">{{userData2.JobInfo_Status}}</label><br><br>
          <label style="margin-left: 155px;">Location ID</label> <label style="margin-left:203px;">{{userData2.Loc_Id}}</label><br><br>
 

        


        
        
        
        

      </div>
      </div>


    </form>

</div>
</div>