<ng-sidebar-container style="position: static;">

  <ng-sidebar [opened] ="opened">
   
   

    <div class="row">
      <div class="col-md-12">
        <div class="logo float-left">
          <a href="/" ><img src="/assets/img/smarthireinlogo.png" alt="" style="width: 156%;
            padding: 9px;
            border-radius: 30px;
            float: top;
            margin-left: -44px;"></a>
        </div>
      </div>
    </div>

    <ul class="menu" style="list-style: none;">
      <li><a href="/profilesetup">My Profile</a></li>
      <li><a href="/org">Organization</a></li>
      <li><a href="/location">Location</a></li>
      <li><a href="team">Team Setup</a></li>
      <li><a href="/candidates">Candidates</a></li>
      <li><a href="/jbdashboard">Jobs</a></li>

      <li><a href="/password">Password</a></li>
      
      
      
      
      <li>
        <div ngbDropdown class="d-inline-block drpbn">
          <a  id="dropdownBasic1" ngbDropdownToggle>Reports</a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a class="dwns" href="/jb-reports"> <button ngbDropdownItem class="dwnitm" >Job Reports</button></a>
            <a class="dwns" href="/candreports"> <button ngbDropdownItem class="dwnitm">Candidate Reports</button></a>
            <a class="dwns" href=""> <button ngbDropdownItem class="dwnitm">Hiring Performance</button></a>
          </div>
        </div>
      </li>
      <br> <br> <br>
      
    </ul>
  </ng-sidebar>
   <div ng-sidebar-content>
   
     <button (click)= "toggleSidebar()">
       Open Contents
     </button>
    
    
   </div>
</ng-sidebar-container>

<div class="container-fluid">
  <div class="row" style="background: #0e216c!important; padding: 10px;">
  <div class="col-md-3"></div>

  <div class="logo float-right" style="margin-left: 635px;">
    <img src="/assets/img/bell icon.png" alt="">
  </div>
  
  

    <div class="action" >
      <div class="profile" (click)="toggleprofile()">
        <img src="/assets/img/account.png">
      </div>

      

      <div class="menu" style="margin-right: -1200px;color: white;margin-top: 64px;" *ngIf="opened1">
        
        <h6 style="text-align: left;margin-left: 20px;margin-top: 15px;">{{this.email}}</h6>
        <ul style="list-style-type:none;text-align: left;padding: 0%;margin-left: 20px;">
          <li>Product Tour</li>
          <li>Terms of Use</li>
          <li>Privacy Policy</li>
          <button (click)='onlogout()' id="signout"><a href="/" style="color: white;"><li>Sign Out</li></a></button>
        </ul>
      </div>
    
    </div>

    <h4 style="margin-left: 171px;margin-top: 11px;color: white">{{this.fname}}  {{this.lname}}</h4>

    

    
  </div>

    
      
    

<!--modification of profile and notification logo-->



 
</div>


<!-- <div style="height: 80vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Responsive Navigation</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
       
        <a href="#" mat-button>Menu Item 1</a>
        <a href="#" mat-button>Menu Item 2</a>
        <a href="#" mat-button>Menu Item 3</a>
        <a href="#" mat-button>Menu Item 4</a>
        <a href="#" mat-button>Menu Item 5</a>
        <a href="#" mat-button>Menu Item 6</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a href="#" mat-list-item>Menu Item 1</a>
        <a href="#" mat-list-item>Menu Item 2</a>
        <a href="#" mat-list-item>Menu Item 3</a>
        <a href="#" mat-list-item>Menu Item 4</a>
        <a href="#" mat-list-item>Menu Item 5</a>
        <a href="#"mat-list-item>Menu Item 6</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>Main content</mat-sidenav-content>
  </mat-sidenav-container>
</div> -->




